/* dashboard page */
.dashboard-logo {
    width: 40%;
}

#dashboard-content {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2rem;
}

.app-list {
    margin-top: 2rem;
}

.app-col {
    margin-bottom: 1rem;
}

.app-favourite {
    margin-bottom: 2rem;
}

.card__app-list {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}


.hr {
    height: 0.2vh;
    margin-top: 0.5rem;
    background-color: #f2f2f2;
    border: 0.3px solid #f2f2f2
}
.modal-header{
    border-bottom: none;
}

.close:hover{
    outline: none;
    border: none;
}
.content-area {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80vh;
    margin-top: 3rem;
}

 .carousel-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.carousel-image {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 14px !important;
}
.notification-content {
    height: 90vh;
    background: #01247D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
}

.notify-list {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1rem;
    color: white;
}

.notify-list h6 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
}

.notify-list span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 12px;
    color: #828DA4;
}

.notify-list small {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    color: #828DA4;
}

.notify-list__hr {
    background: white;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

/* dashboard css section start */
.title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #25282B;
}
.modal-hr{
        height: 0.2vh;
        margin-top: 0.5rem;
        background-color: #fff;
        border: 0.3px solid #fff;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.modal-card-large{
    background: #FFFFFF;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
    border-radius: 5px; 
    /* border: 1px solid #20A000; */
    text-align: center;
    margin: 5px -5px;
    cursor: pointer;
}
.modal-card-large:hover{
    box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
    border-radius: 5px; 
    border: 1px solid #20A000;
    text-align: center;
    margin: 5px -5px;
    cursor: pointer;
}
 .modal-card-body{
    padding: none !important;
}
/* .modal-card-small{
   height:  58px;
} */

.md-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #01247D;
}
h6 span{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #2D3892;
}
.note{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #828DA4;
}
.notify-list .note{
    font-family: Lato;
    font-style: normal; 
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #828DA4;
}
.time{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #FFFFFF;
}
.time-active{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #020B2D;
}
.card-option {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #01247E;
    cursor: pointer;
}

.notify-list:hover {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    padding: 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.username{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #25282B;
}
.role{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A0A4A8;
}
.vertical-line{
	height: 100%;
	position: absolute;
	border-left: 2px solid #E8E8E8;
}

/* dashboard css section ends */


/* Media queries */
@media screen and (max-width: 700px) {
    .login-first-col {
        display: none;
    }

}

@media only screen and (min-width: 1300px) {
    .search-app {
        margin-left: 10rem !important;
    }
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 1000px;
    }
}
